#c{
    border: 10px solid skyblue;
    border-radius: 35%;
    margin: 5px;
    height: 15%;
    margin-right: 25px;
    
}

p{
    padding:15px 15px;
    font-size: x-large;
    color:rgb(71, 67, 67);
    /* background-color: rgb(222, 224, 224); */
    font-family: cursive;
    margin-top: 10px; 
   margin-right: 10px;
   text-align: center;
    /* text-shadow: 2px 2px 5px  grey;  */

}