<body style="background-image: url('./assets/contactimg/ccwall.jpg');">
    <div class="container">
<div style="background-image: url('./assets/contactimg/c1.jpg');text-align: center;"><h3>Get In Touch With Us</h3>
    <p style="font-family: cursive ;color:rgb(36, 21, 28);"> Want to Get in Touch with Us? Here's How you Can Reach Us</p>

<img class="card-img-top w-100" height="200px" style="margin-left: 1px;" src="./assets/contactimg/c2.jpg" alt="Card image caph">       
</div>
<div class="card-deck">
                 <div class="card w-25" style="background-image: url('./assets/contactimg/cd1.jpg');">
                 <div class="card-header text-light" style="font-family: cursive; font-size: large;">
                    <i class="fa fa-mobile" aria-hidden="true"></i> Mobile  
                 </div>
                 <div class="card-body text-light" style="font-family: cursive; font-size: large;">
                     Rather than Looking , How to contact Us, you can ping Us . . !<br>
                     <div class="" style="background-color: gainsboro; border: 2px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px; text-align: center; font-weight:500; font-size: x-large;font-family: cursive;">9666666736</div>
                     <div style="background-color:gainsboro; border: 2px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px; text-align: center; font-weight:500; font-size: x-large;font-family: cursive;">9666666737</div>
                 </div>
             </div>
             <div class="card w-25" style="background-image: url('./assets/contactimg/cd2.jpg');">
                <div class="card-header text-light" style="font-family: cursive; font-size: large;" >
                    <i class="fa fa-envelope" aria-hidden="true"></i> Mail-Id
                </div>
                <div class="card-body text-light" style="font-family: cursive; font-size: large;">
                    As an Alternate for ordering,How to order you can Mail Us . . !<br> 
                    <div class="" id="format" style="background-color: gainsboro; border: 1px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px; text-align: center; font-weight:500; font-size: x-large;font-family: cursive;">Smoothies@gmail.com </div> 
                      <div style="background-color: gainsboro; border: 1px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px;text-align: center; font-weight:500; font-size: x-large;font-family: cursive;">   Smoothdrink@gmail.com</div>
                </div>
            </div>
            <div class="card w-25" style="background-image: url('./assets/contactimg/cd3.jpg');">
                <div class="card-header text-light" style="font-family: cursive; font-size: large;">
               <i class="fa fa-address-book-o" aria-hidden="true"></i> Address 
                </div>
                <div class="card-body text-light" style="font-family: cursive; font-size: large;">
                    Instead of Worrying How to Order, You Can Come to Our Address . . !
                        <div class="" style="background-color: gainsboro; border: 1px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px; text-align: center; font-weight:500; font-size: x-large;font-family: cursive;">  Miryalguda </div>
                           <div style="background-color: gainsboro; border: 1px solid pink; color: purple; margin: 10px;padding:3px; border-radius: 25px;margin-top: 10px; text-align: center; font-weight:500; font-size: x-large;font-family: cursive;"> 508207</div>
                    
                </div>
            </div>

        </div>
    </div>
</body>